#cityName {
  font-family: "Pacifico", cursive;
  font-size: 3.5rem;
}

.weather {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
}

#forecast {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.place {
  font-family: "Poppins", sans-serif;
  margin-bottom: 5px;
}

.form {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.otherLocation {
  display: inline-block;
}

.button {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-width: 0.5px;
  border-radius: 3px;
}
